<!-- wp:template-part {"slug":"header","theme":"blur","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:cover {"overlayColor":"accent","minHeight":180,"align":"full"} -->
<div class="wp-block-cover alignfull" style="min-height:180px"><span aria-hidden="true" class="wp-block-cover__background has-accent-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"center","fontSize":"extra-large"} -->
<h2 class="has-text-align-center has-extra-large-font-size">Blog</h2>
<!-- /wp:heading --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"60px","bottom":"60px"}}},"backgroundColor":"fourground","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-fourground-background-color has-background" style="padding-top:60px;padding-bottom:60px"><!-- wp:query -->
<div class="wp-block-query"></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"blur","tagName":"footer"} /-->